@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, .a, body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

html {
    /* background: linear-gradient(to right, #e0eafc, #cfdef3); */
    background: #fff;
}

nav {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    max-width: 1200px;
    padding: 30px 0;
}

nav p {
    font-family: Arial, sans-serif;
    margin: 5px;
    font-size: 15px;
}

.a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    margin: auto;
    max-width: 1200px;
    text-align: center;
    padding: 2.5vh 0;
    border-radius: 9px;
}

.a div {
    padding: 0 5vw;
}

.a h1 {
    font-family: Inter, Arial, sans-serif;
    font-weight: 300;
    font-size: 50pt;
    margin: 15px auto;
    letter-spacing: -0.2rem;
}

.a img {
    border-radius: 120px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.a p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.word-space {
    word-spacing: .15rem;
    letter-spacing: .015rem;
}

.bold {
    font-weight: 900;
}

.blue-gradient {
    background: linear-gradient(to left, #4568dc, #b06ab3); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gray {
    font-style: italic;
    color: rgba(0, 0, 0, .8);
    margin: 0;
}